<footer>
  <address>
    <ul>
      <li>clickworkorange Ltd</li>
      <li>info@clickworkorange.com</li>
      <li>+44 (0)20 7099 3989</li>
    </ul>
  </address>
  <p><%= image_tag("icons/cookie.svg", alt: "A yummy cookie", class: "icon") %>The only third-party cookies used here are the edible kind.</p>
</footer>